* {
box-sizing: border-box;
  }

.status {
  text-align:center;
}

.status-elements {
  display: inline-block;
  width: 30%;
}

.div-1 {
  text-align: left;
}

.div-3 {
  text-align: right;
}

.display{
  text-align: center;
  width: 70%;
  margin: 30px 15%;
}

.title {
  font-size: 24px;
  /* width: 50%; */
  margin: 10px;
}

label {
  font-size: 16px;
}

.answers{
  display:block;
  width: 70%;
  margin-left: 35%;
  text-align: left;
}

.correct {
color: green;
display: block;
}

.incorrect {
color: red;
display: block;
}

button {
background-color: blue;
color: white;
padding: 5px 15px;
}

button:hover {
  cursor: pointer;
  background-color: lightblue;
  color: black;
}

